<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body class="d-flex flex-column min-vh-100">
    <div th:replace="fragments/navbar"></div>
    <main class="flex-shrink-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card mt-5">
                        <div class="card-body text-center">
                            <h2 class="card-title">Brand List</h2>
                        </div>
                    </div>
                    <div class="card-deck mt-3">
                        <div th:each="b : ${allBrands}" class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title" th:text="${b.brandName}"></h5>
                                <p class="card-text">
                                    <a th:href="@{|/models/by-brand/${b.brandName}|}" class="btn btn-primary">View
                                        Models</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="mt-auto" th:replace="fragments/footer"></footer>
</body>

</html>