<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class='row mb-4 d-flex justify-content-around'>
                    <div th:each="b : ${allModelsByBrand}"
                         class="col-md-4 d-flex flex-column bg-text mb-3 rounded model-item" style="margin: 15px;">
                        <h4 th:text="${b.modelName}"></h4>
                        <h4 th:text="${b.category}"></h4>
                        <h2 th:text=" ${b.startYear} +' - '+ ${b.endYear}"></h2>
                        <!--                        <h4 th:text="'Brand: ' + ${b.brand}"></h4>-->
                        <!--                        <b th:href="@{|/offers/by-model/${b.name}|}" class="offer-link">-->
                        <!--                            <h2 th:text="'See offers'"></h2>-->
                        <!--                        </b>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>