<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body class="d-flex flex-column min-vh-100">
    <div th:replace="fragments/navbar">Navbar</div>
    <header class="bg-primary text-white text-center py-2">
        <h1 th:text="${allModelsByBrand[0].brandName}"></h1>
    </header>
    <main class="flex-shrink-0">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                    <div class='row mb-4 d-flex justify-content-around'>
                        <div th:each="b : ${allModelsByBrand}"
                            class="col-md-4 d-flex flex-column bg-text mb-3 rounded model-item" style="margin: 15px;">
                            <h4 th:text="${b.modelName}"></h4>
                            <h4 th:text="${b.category}"></h4>
                            <h2 th:text=" ${b.startYear} +' - '+ ${b.endYear}"></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="mt-auto" th:replace="fragments/footer"></footer>
</body>

</html>