<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body class="d-flex flex-column min-vh-100">
    <div th:replace="fragments/navbar"></div>
    <main class="flex-shrink-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card mt-5">
                        <div class="card-body text-center">
                            <h2 class="card-title">Offers List</h2>
                        </div>
                    </div>
                    <div class="card mt-5">
                        <div class="card-body text-center">
                            <h2 class="card-title">Filter Offers</h2>
                            <form class="filters-form" th:method="GET" th:action="@{/offers/filtered}">
                                <div class="filter-box">
                                    <label th:for="engineType">Engine:</label>
                                    <div class="filters">
                                        <input type="checkbox" th:name="engineType" th:text="Gasoline" th:value="GASOLINE" th:checked="${param.engineType != null && param.engineType.contains('GASOLINE')}">
                                        <input type="checkbox" th:name="engineType" th:text="Diesel" th:value="DIESEL" th:checked="${param.engineType != null && param.engineType.contains('DIESEL')}">
                                        <input type="checkbox" th:name="engineType" th:text="Electric" th:value="ELECTRIC" th:checked="${param.engineType != null && param.engineType.contains('ELECTRIC')}">
                                        <input type="checkbox" th:name="engineType" th:text="Hybrid" th:value="HYBRID" th:checked="${param.engineType != null && param.engineType.contains('HYBRID')}">
                                    </div>
                                </div>
                                <div class="filter-box">
                                    <label th:for="transmissionType">Transmission:</label>
                                    <div class="filters">
                                        <input type="checkbox" th:name="transmissionType" th:text="Manual" th:value="MANUAL" th:checked="${param.transmissionType != null && param.transmissionType.contains('MANUAL')}">
                                        <input type="checkbox" th:name="transmissionType" th:text="Automatic" th:value="AUTOMATIC" th:checked="${param.transmissionType != null && param.transmissionType.contains('AUTOMATIC')}">
                                    </div>
                                    <div class="filters" th:if="${param.modelName != null}">
                                        <input type="hidden" name="modelName" th:value="${param.modelName}">
                                    </div>
                                </div>
                                <button type="submit">Apply</button>
                            </form>
                        </div>
                    </div>
                    <div class="card-deck mt-3">
                        <div th:each="o : ${allOffers}" class="card">
                            <div class="card-body text-center">
                                <img th:src="${o.imageUrl}" alt="Offer Image" class="card-img-top"
                                    style="max-height: 200px; object-fit: cover;">
                                <h5 class="card-title" th:text="${o.brand + ' ' + o.model}"></h5>
                                <p class="card-text">
                                    <strong>Price:</strong> <span th:text="${o.price}"></span><br>
                                    <strong>Seller:</strong> <span th:text="${o.seller}"></span>
                                </p>
                                <div>
                                    <a th:href="@{/offers/details/{offerId}(offerId=${o.id})}"
                                        class="btn btn-primary">Detail info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="mt-auto" th:replace="fragments/footer"></footer>
</body>

</html>